.homeTitle {
    vertical-align:middle;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;  
}

p {
    vertical-align:middle;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}